<div class="">
    <mat-card class="example-card">
        <mat-card-header class="navbar navbar-brand">
            <mat-card-title>Data Source Form</mat-card-title>
            <nav>
                <h2>Create</h2>
            </nav>
        </mat-card-header>

        <mat-card-content class="mt-3 ">
            <form [formGroup]="dataSourceForm">
                <div class="row">
                    <div class="example-container col">
                        <mat-form-field>
                            <mat-label>DB Type</mat-label>
                            <mat-select formControlName="dbType">
                                <mat-option value="option">Select</mat-option>
                                <mat-option value="MySQL">MySQL</mat-option>
                                <mat-option value="OracleSQL">OracleSQL</mat-option>
                                <mat-option value="PostgreSQL">PostgreSQL</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="example-container col">
                        <mat-form-field>
                            <mat-label>HOST NAME</mat-label>
                            <input matInput formControlName="host" type="text" placeholder="localhost" required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="example-container col">
                        <mat-form-field>
                            <mat-label>DB NAME</mat-label>
                            <input matInput formControlName="dbName" placeholder="mysql" required>
                        </mat-form-field>
                    </div>
                    <div class="example-container col">
                        <mat-form-field>
                            <mat-label>DB USER</mat-label>
                            <input matInput formControlName="userName" placeholder="username" required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="example-container col">
                        <mat-form-field>
                            <mat-label>DB PASSWORD</mat-label>
                            <input matInput formControlName="password" placeholder="password" required>
                        </mat-form-field>
                    </div>
                     <!-- <div class="example-container col">
                        <mat-form-field>
                            <mat-label>DB PORT</mat-label>
                            <input matInput formControlName="dbPort" placeholder="8080" required>
                        </mat-form-field>
                    </div> -->
                </div>

            </form>
        </mat-card-content>

        <mat-card-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button *ngIf="opType=='create'||'edit'" (click)="onSubmit()" mat-dialog-close>Save</button>
        </mat-card-actions>
    </mat-card>

</div>