<div>
    <nav class="navbar">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">DataServiceList</a>
        </div>
    </nav>
</div>
<app-data-service-form></app-data-service-form>