<div class="menu bg-secondary mt-3">
    <button mat-button [matMenuTriggerFor]="menu" class="btn btn-secondary" >Data Management</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateTo('/dm/dataSource')">Data Source</button>
      <button mat-menu-item (click)="navigateTo('/dm/dataList')">Data Service</button>
    </mat-menu>
</div>
<!-- style="margin: 10px; background-color: brown;" -->