<div>
    <nav class="navbar">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Data Source List</a>
        </div>
    </nav>
</div>
<div style="margin-left: 90%;">
    <button class="btn btn-success" (click)="invokeDialog('create')" action-type="create" mat-button>+Create</button>
</div>

<app-grid 
          [gridHead]="gridColDef" 
          [gridData]="gridRowDef" 
          [gridConfig]="gridConfigDef" 
          (gridEvent)="openDialog($event)">
</app-grid>