<div class="m-5">
  <mat-card>
    <mat-horizontal-stepper>
        <mat-step label="Attributes">
          <h1>Read Step 1 Data</h1>
            <div class="row" >
              <div class=col-lg-4 first-screen>
              <mat-tab-group>
                <mat-tab label="Data Source"> 
                   <section class="example-section" [formGroup]="datasource">
                     <p><mat-checkbox formControlName="m4_configuration">m4_configuration</mat-checkbox></p>
                     <p><mat-checkbox formControlName="application_details">application_details</mat-checkbox></p>
                     <p><mat-checkbox formControlName="hospital">hospital</mat-checkbox></p>
                   </section>
                
                   <section class="example-section" [formGroup]="datasource">
                     <h5>You choose:</h5>
                      {{datasource.value | json}}
                   </section>
                </mat-tab>

                <mat-tab label="Entity"> 
                   <section class="example-section" [formGroup]="entity">
                     <p><mat-checkbox formControlName="data_source_info">data_source_info</mat-checkbox></p>
                     <p><mat-checkbox formControlName="application_info">application_info</mat-checkbox></p>
                     <p><mat-checkbox formControlName="beds">beds</mat-checkbox></p>
                   </section>
                
                   <section class="example-section" [formGroup]="entity">
                     <h5>You choose:</h5>
                      {{entity.value | json}}
                   </section>
                </mat-tab>

                <mat-tab label="Columns"> 
                  <section class="example-section" [formGroup]="entity">
                    <p><mat-checkbox formControlName="alt_key">data_source_info</mat-checkbox></p>
                    <p><mat-checkbox formControlName="data_type">application_info</mat-checkbox></p>
                  </section>
               
                  <section class="example-section" [formGroup]="entity">
                    <h5>You choose:</h5>
                     {{entity.value | json}}
                  </section>
               </mat-tab>
              </mat-tab-group>
            </div>
                 <div class=col-lg-8 second-screen>
                   <div class="grid-section">
                     <app-grid [gridHead]="gridColDef" [gridData]="gridRowDef" [gridConfig]="gridConfigDef"></app-grid>
                   </div>
                 </div>
          </div>
          <mat-card-actions align="end">
            <button mat-button matStepperNext>Next</button>
          </mat-card-actions>
        </mat-step>

        <mat-step label="Join builder">
          <ng-template matStepLabel>Join Builder</ng-template>
          <ng-template matStepContent>
              <div class="">
                  <!-- card start -->
                  <mat-card class="example-card">
                      <!-- cart header start-->
                      <mat-card-header class="navbar navbar-brand">
                          <mat-card-title class="mb-3">JoinCriteria</mat-card-title>

                          <!-- dropdwon sectiion start -->
                          <div>
                              <form>
                                  <div class="row">
                                      <div class="example-container col">
                                          <mat-form-field>
                                              <mat-label>Left Entity</mat-label>
                                              <mat-select>
                                                  <mat-option value="option">Select</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                      <div class="example-container col">
                                          <mat-form-field>
                                              <mat-label>Left Expression</mat-label>
                                              <mat-select>
                                                  <mat-option value="option">Select</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                      <div class="example-container col">
                                          <mat-form-field>
                                              <mat-label>Join Type</mat-label>
                                              <mat-select>
                                                  <mat-option value="option">Select</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                      <div class="example-container col">
                                          <mat-form-field>
                                              <mat-label>Operator</mat-label>
                                              <mat-select>
                                                  <mat-option value="option">Select</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                      <div class="example-container col">
                                          <mat-form-field>
                                              <mat-label>Right Entity</mat-label>
                                              <mat-select>
                                                  <mat-option value="option">Select</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>
                                      <div class="example-container col">
                                          <mat-form-field>
                                              <mat-label>Right Expression</mat-label>
                                              <mat-select>
                                                  <mat-option value="option">Select</mat-option>
                                              </mat-select>
                                          </mat-form-field>
                                      </div>

                                      <mat-card-actions align="end">
                                          <button mat-button mat-dialog-close>ADD</button>
                                      </mat-card-actions>
                                  </div>
                              </form>
                          </div>
                          <!-- dropdwon section end -->
                      </mat-card-header>
                      <!-- cart header end-->

                      <!-- card content start -->
                      <mat-card-content class="mt-3 ">
                          <div>
                              <app-grid [gridHead]="gridColDef2" [gridData]="gridRowDef2"
                                  [gridConfig]="gridConfigDef2" class="ag-theme-quartz"
                                  style="height: 500px;">
                              </app-grid>
                          </div>
                      </mat-card-content>
                      <!-- card content end -->

                      <!-- cart actions start -->
                      <mat-card-actions align="end">
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                      </mat-card-actions>
                      <!-- cart actions start -->
                  </mat-card>
                  <!-- card end -->

              </div>

          </ng-template>
        </mat-step>

        <mat-step label="Details">
            <h1>Details</h1>

                <!-- card start -->
                <mat-card>
                    <!-- card content start -->
                    <mat-card-content class="formD">
                        <mat-form-field>
                            <mat-label>DataSource Service</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </mat-card-content>
                    <!-- card content end -->

                    <!-- card actions start -->
                    <mat-card-actions align="end">
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button >Save</button>
                    </mat-card-actions>
                    <!-- card actions end -->
                </mat-card>
                <!-- card end -->
        </mat-step>

      </mat-horizontal-stepper>
    </mat-card>
    </div>