@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import url("../node_modules/font-awesome/css/font-awesome.css");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
