<div>
    
    <ag-grid-angular [columnDefs]="gridHead" [rowData]="gridData" [defaultColDef]="gridConfig" 
        class="ag-theme-quartz"
        style="height: 500px; margin-top: 10px;"
        [pagination]="true"
        [paginationPageSize]="20"
        (rowClicked)="onRowClicked($event)"
       >
    </ag-grid-angular>

</div>