nav{
    background-color: rgb(243,246,246);
  }
  
  /* logo style */
  
  .logo{
    width: 50px;
  
        opacity: 1;
        background-color:rgb(243,246,246);
        mix-blend-mode: hard-light;
  }
  
  /* logout icon */
  .icon-anchor{
    color: rgb(175, 36, 36);
  }
  
  .hide {
    display: none;
  }
  
  .logout-icon:hover + .hide {
    display: inline;
    color: rgb(197, 116, 116);
  }
  