<div>
  <nav class="nav navbar bg-success-subtle">
      <div class="container-fluid">
          <a href="#" class="navbar-brand">
              <img [src]="logoImage" alt="" class="logo">
              <span> {{title}}</span>
          </a>
          <a href="#" class="navbar-brand icon-anchor ">
              <fa-icon [icon]="logoutIcon" class="logout-icon"> </fa-icon>
              <div class="hide"> Logout</div>
          </a>
      </div>
  </nav>
</div>

